/* Body */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.section {
  padding: 120px 0;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
}
.head-position {
  display: flex;
}

.header-container {
  display: flex;
}

.nav-first {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.logo-black {
  color: #2e2f42;
}
/* ex. span logo footer */
.logo-white {
  color: #f4f4fd;
}

.nav-first {
  display: flex;
}

.nav {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.nav-link {
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
  text-decoration: none;
}

.nav-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.nav .nav-link {
  display: block;
}

.adress {
  font-style: normal;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 0;
  margin-left: auto;
}

.adress-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.adress-link {
  color: #434455;
  text-decoration: none;
}

.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

/* Main page 1 Section */

.main {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-info {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: #ffffff;
  margin-bottom: 48px;
  max-width: 496px;
}

.button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* Section 2 Target */

/* Hidden H2 */
.h2hiiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.target-list .button {
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  display: flex;
  gap: 24px;
}

.target-ul {
  list-style-type: none;
}

.target-li {
  width: calc((100% - 72px) / 4);
}

.target-h {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.target-par {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section 3 Team */

.team-head {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  background: #f4f4fd;
}

.team-list {
  list-style-type: none;
  background: #f4f4fd;
}

.team-list-photo {
  background-color: #ffffff;
}

.team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.team-par {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Section 4 Portfolio */

portfolio-head {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.portfolio-list {
  list-style-type: none;
}

.portfolio-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.portfolio-par {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* footer (logo in the Top line) */
.footer {
  background-color: #2e2f42;
}
.footer-par {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
